
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body
  height 100%
  overflow hidden
#render
  transform-origin left top
  
#modicameraview
  position: absolute
  opacity 0.0
  width 884px
  height 1080px
  display none


#bpm
  position absolute
  right 0
  bottom 0

#monitor
  position: absolute
  right 50px
  bottom 300px
#bpmCalculater
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: bottom; /* 縦方向中央揃え（Safari用） */
  align-items: bottom ; /* 縦方向中央揃え */
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */
  position: absolute
  right 50px
  bottom 200px
  width auto
#BpmView, #BpmToFps
  width 100px
  height 30px
  font-size 20px
  background-color aquamarine
  //margin-right 10px
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */

#input_tempo
  width 60px
  height 30px
